.bottom-nav {
    left: 0;
    width: 100%;
    /* padding: 15px 200px; */
    background: #6a6766;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    z-index: 99;
}

.bottom-nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-nav .nav-links li{
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}
.bottom-nav .nav-links a{
    padding: 10px;
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}

.bottom-nav .nav-links a:hover {
    background-color: white;
    color: black;
    transition: all 0.2s linear;
}


#bottom-bar {
  display:table;
  width:100%;
}

.bottom-elm {
  border-right:1px solid black;
  color: white;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
  width: 1%;
  
  &:last-child {
    border-right:none;
  }
}
