* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container {
    padding: 0px 1rem;
    max-width: 800px;
    
}

.content-title {
    font-size: 2rem;
    padding: 10px;
}

.disp-block {
    display: block;
}
.disp-flex {
    display: flex;
}
.disp-inline {
    display: inline;
}
.disp-iblock {
    display: inline-block;
}
.align-center {
    align-items: center;
}
.just-center {
    justify-content: center;
}

.w100 {width: 100%;}
.w50 {width: 50%;}

.pt10 {padding-top: 10px;}

.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb20 {margin-bottom: 20px;}
.mb30 {margin-bottom: 30px;}
.mb100 {margin-bottom: 100px;}

.bold {font-weight: bold;}

.nostyle-a {text-decoration: none;}
.note-p {
    font-size: 12px; 
    color:gray;
}
.over-ellipsis {
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

input[type=text],input[type=textarea],input[type=number],input[type=password] {
    font-size: 20px !important;
}
@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
    
}