.event-item {
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 20px;

    /* background: linear-gradient(
        269deg,
        rgba(255, 255, 255, 0) 98%,
        rgb(17, 255, 0) 100%
    ); */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;   
}

.event-item-inner {
    margin: 8px auto;
    width: 95%;
}

.schedule {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
}

.state-tag {
    padding:5px;
    margin-right: 5px;
    border-radius: 10px;
    width: 70px;
    text-align: center;
    /* box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35); */
    
}

.event-item-content-left {
    width: 50%;
    flex-direction: column;
}

.event-item-content-left {
    width: 50%;
}

.location {
    font-size: 2rem;
    color: black;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.description_toggle {
    text-align: center;
}



@media screen and (max-width: 768px) {
    .event-item {
        font-size: 14px;
    }
}
