.event-item .schedule-inner {
    align-items: end;
        gap: 5px; 
}
.event-item .schedule {
    align-items: center;
        gap: 10px;
}
.event-item .schedule-inner .month,
.event-item .schedule-inner .day {
    white-space: pre-wrap;
}
.event-item .schedule .week {
    -webkit-text-stroke: 1px;
}
.event-item .week-color-sun {
    color: rgba(255, 0, 0, .5);
}
.event-item .week-color-sat {
    color: rgba(0, 0, 255, .5);
}
.event-item .schedule .week {
    /* margin-left: 5px; */
    padding: 2px;
    font-size: 12px;
    border: black 1px;
    border-style: solid;
    border-radius: 5px;
}
.event-item .schedule .time {
    font-weight: bold;
    padding: 0px 10px;
    border-bottom: black 1px solid;
}


@media screen and (max-width: 768px) {
    .event-item .schedule-inner .year,
    .event-item .schedule-inner .week {
        font-size: 11px;
    }

    .event-item .schedule-inner .year-label,
    .event-item .schedule-inner .month-label,
    .event-item .schedule-inner .day-label {
        font-size: 9px;
    }

    .event-item .schedule-inner .month,
    .event-item .schedule-inner .day {
        font-size: 14px;
    }

    .event-item .schedule .week {
        font-size: 12px;
    }

    .event-item .schedule .time {
        text-align: center;
        flex-grow: 1;
    }
}


.event-item.event-outer {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.event-item.delete-item {
background-color: darkgray;
}

.event-item .event-inner {
    margin: 5px;
}

.event-item .tag {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: .7rem;
}

.event-item .location {
    font-size: 1.5rem;
}

.event-item .state-title {
    color: #00000055;
    font-size: 1.2rem;
}

.event-item .comments .comments-title {
    font-size: 1.2rem;
}

.event-item .comments .comment {
border: black 1px solid;
border-radius: 5px;
}

.event-item .comment-header .time {
font-size: .7rem;
}

.event-item .state-0 {background-color: #d3d3d37F;}
.event-item .state-1 {background-color: #90ee907F;}
.event-item .state-2 {background-color: #f080807F;}
