/* ============== */
/* event-item.php */
/* ============== */
.event-item.event-outer {
    border: 2px solid;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.event-item.delete-item {
  background-color: darkgray;
}

.event-item .event-inner {
    margin: 5px;
}

.event-item .tag {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: .7rem;
}

.event-item .location {
    font-size: 1.5rem;
}

.event-item .state-title {
    color: #00000055;
    font-size: 1.2rem;
}

.event-item .comments .comments-title {
    font-size: 1.2rem;
}

.event-item .comments .comment {
  border: black 1px solid;
  border-radius: 5px;
}

.event-item .comment-header .time {
  font-size: .7rem;
}

.event-item .state-0 {background-color: #d3d3d37F;}
.event-item .state-1 {background-color: #90ee907F;}
.event-item .state-2 {background-color: #f080807F;}